
:root {
  --black: #2d2d2d;
  --black-20: #00000033;

  --white: #ffffff;
  --white-20: #ffffff33;

  --text-color: var(--black);
  --link-color: var(--black);
  --title-color: var(--black);
  --background-color: var(--white);
  --border-color: var(--black-20);
}