@import '@/styles/_fonts';
@import '@/styles/_colors';
@import '@/styles/_animations';
@import '@/styles/+breakpoints.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

code {
  font-family: 'JetBrains Mono', SF Mono, monospace;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

body {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 169%;
  color: var(--text-color);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 90vw;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;

  &_article {
    max-width: 80vw;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: $tablet) {
  .container {
    max-width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  body {
    font-size: 17px;
    line-height: 159%;
  }
}

@media screen and (max-width: $mobile) {
  .container {
    padding-top: 100px;
  }
}